body{ padding: 0px; margin: 0px; }
.start {
  width: 100%;
  overflow-x: hidden;
  font-family: "helvetica";
}

.start main {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.img-sec {
  width: 100%;
  background: #00d1b2;
  background: url("https://preview.ibb.co/iLdjHq/wallpaper.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(0.5px);
}

.form-sec {
  width: 100%;
  padding: 0px 80px;
  box-sizing: border-box;
}

.start form {
  text-align: center;
}

.start h1 {
  font-size: 2rem;
  color: #00d1b2;
  text-align: center;
  padding: 50px 0px;
}

.start h2 {
  font-size: 1.3rem;
  color: #ff3860;
}

.start p {
  color: #777;
  padding: 10px 0px;
}

.start a {
  color: #777;
}

.inputs {
  display: grid;
  grid-gap: 10px;
  padding-top: 30px;
}

.start input {
  border: 1px solid #40e0d0;
  border-radius: 3px;
  padding: 10px 0px;
  text-indent: 10px;
  color: #00d1b2;
}

.group {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 10px;
}

.check {
  display: grid;
  grid-template-columns: auto auto;
  text-align: left;
}

.start input[type='checkbox'] {
  -webkit-appearance: none;
  width: 30px;
  height: 30px;
  padding: 0px;
  transition: 0.5s;
}

.start input[type='checkbox']:checked {
  border-width: 15px;
}

.forgot {
  padding: 12px;
  font-size: 0.8rem;
  color: #555;
  text-align: right;
}

.start button {
  padding: 10px;
  margin-top: 20px;
  color: #fff;
  background: #00d1b2;
  border: 0px;
  border-radius: 3px;
  font-size: 1rem;
  box-shadow: 0px 10px 10px -5px turquoise;
  transition: all 1.9;
}
.start button:hover { background: #ff3860; box-shadow: 0px 10px 10px -5px #f33158; }

@import url("https://fonts.googleapis.com/css?family=Lato");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.quiz {
  font-family: 'Lato', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.quiz:before {
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: url("http://oi66.tinypic.com/23mvj48.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(2px);
  z-index: -1;
}

.quiz-container {
  width: 520px;
  color: white;
  font-size: 110%;
  margin: 5em auto;
}
.quiz-container h2 {
  text-align: center;
  color: #cb2127;
  margin-bottom: 10px;
}
.quiz-container .box {
  padding: 10px 15px;
}
.quiz-container .question {
  background-color: #cb2127;
  margin-bottom: 25px;
  font-size: 115%;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
.quiz-container .question:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 35px;
  width: 0;
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #cb2127;
}
.quiz-container .question span {
  background-color: #cb2127;
  color: white;
  display: block;
  float: left;
  margin-left: -15px;
  margin-top: -10px;
  margin-right: 0px;
  padding: 10px 10px;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}
.quiz-container .answers {
  padding-left: 0;
  list-style-type: none;
}
.quiz-container .answers .answer {
  background-color: #fff;
  color: #cb2127;
  margin-bottom: 10px;
  position: relative;
}
.quiz-container .answers .answer:hover, .quiz-container .answers .answer.active {
  cursor: pointer;
  color: #2ecc71;
}
.quiz-container .answers .answer:hover span:not([class^="checkmark"]), .quiz-container .answers .answer.active span:not([class^="checkmark"]) {
  background-color: #2ecc71;
}
.quiz-container .answers .answer.active span.checkmark {
  background-color: #fff;
  position: absolute;
  top: 8px;
  right: 20px;
  font-size: 120%;
}
.quiz-container .answers .answer span:not([class^="checkmark"]) {
  background-color: #cb2127;
  color: white;
  display: block;
  float: left;
  margin-left: -15px;
  margin-top: -10px;
  margin-right: 20px;
  padding: 10px 0;
  text-align: center;
  text-transform: uppercase;
  width: 40px;
}
.quiz-container button {
  background-color: #cb2127;
  color: #fff;
  font-size: 110%;
  border: 0;
  width: 100%;
  position: relative;
}
.quiz-container button:hover {
  background-color: #2ecc71;
  cursor: pointer;
}
.quiz-container button span {
  font-size: 200%;
  position: absolute;
  top: -3px;
  right: 10px;
}

@media (max-width: 520px) {
  .quiz-container {
    width: calc(100% - 30px);
  }
  .answer.box {
    font-size: 14px;
  }
}

/* PROGRESS BAR - BASE */
.meter {
  height: 12px;
  background: #DCE0E3;
  border-radius: 8px;
  display: flex;
  width: 80%;
  height: 20px;
}
.dark {
  background: #4D575F;
}
.progress-bar{
  display: block;
  height: 100%;
  background-color: #6BB438;
  position: relative;
  overflow: hidden;
  text-align: right;
  color: white;
}
.progress-bar:after {
  content: "";
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  background-image: -o-linear-gradient(-45deg, #56aa1c 25%, transparent 25%, transparent 50%, #56aa1c 50%, #56aa1c 75%, transparent 75%, transparent);
  z-index: 1;
  background-size: 20px 20px;
  overflow: hidden;
}