/*//////////////////////////////////////////////////////////////////
[ FONT ]*/

@font-face {
  font-family: Poppins-Regular;
  src: url('../fonts/poppins/Poppins-Regular.ttf'); 
}

@font-face {
  font-family: Poppins-Bold;
  src: url('../fonts/poppins/Poppins-Bold.ttf'); 
}

@font-face {
  font-family: Poppins-Medium;
  src: url('../fonts/poppins/Poppins-Medium.ttf'); 
}

@font-face {
  font-family: Montserrat-Bold;
  src: url('../fonts/montserrat/Montserrat-Bold.ttf'); 
}
/*//////////////////////////////////////////////////////////////////*/

body { margin: 0; padding: 0; overflow: auto;}

.main 
{
  display: flex; flex-wrap: wrap; justify-content: center; align-items: center;
  padding: 15px;
  background: linear-gradient(-135deg, #fffcf4, #f2dac4);
}

#caixa-de-login {
  border-radius: 10px; box-shadow: 2px 2px 2px 2px rgba(0,0,0, .3);
  display: flex; flex-wrap: wrap; justify-content: space-between;
  padding: 80px 130px 33px 95px;
  background: #fff;
  width: 960px;
}
  .imagem { width: 316px; padding-top: 7em;}
    .imagem img { vertical-align: middle; border-style: none; max-width: 100%; }
  .form { width: 290px; }
    .form-title
    {
      font-family: Poppins-Bold; font-size: 24px; text-align: center; color: #333333;
      display: flex; justify-content: center; align-items: center;
      padding-bottom: 27px;
    }
    .form-control {
      font-family: Poppins-Medium; font-size: 15px; color: #666666;
      width: 21em; height: 70px;
      border-radius: 25px 0px 0px 25px; border: none;
      padding: 10px 15px;
      background: #e6e6e6;
      transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    }
    .caixa-input { margin-bottom: 10px; }
    .caixa-input .input
    {
      font-family: Poppins-Medium; font-size: 15px; color: #666666;
      width: 100%; height: 50px;
      border-radius: 25px; border: none;
      padding: 10px 15px;
      background: #e6e6e6;
    }
    .form-btn { padding-top: 27px; }
      .form-btn .login-form-btn
      {
        font-family: Montserrat-Bold; font-size: 15px; text-transform: uppercase; color: #fff;
        display: flex; justify-content: center; align-items: center;
        border: none; border-radius: 25px;
        width: 100%; height: 50px;
        background: #f2dac4;
        padding: 0 25px;
        transition: all 0.4s;
      }
      .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 32px;
        height: 32px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
      }

      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }

      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
    .login-form-btn:hover{ background: #333333; }
    .text-center { text-align: center !important; padding-top: 12px; }
      .txt1 { font-family: Poppins-Regular; font-size: 13px; line-height: 1.5; color: #999999; }
      .txt2 { font-family: Poppins-Regular; font-size: 13px; line-height: 1.5; color: #666666; }
      .p-t-136 { padding-top: 58px; }
.modal {
    display: none; position: fixed;
    z-index: 1; left: 0; top: 0;
    width: 100%; height: 100%; 
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}
  .modal-content {
      background-color: #fefefe;
      margin: 15% auto; padding: 20px;
      border-radius: 8px; width: 80%;
  }
  .close { color: #aaa; float: right; font-size: 28px; font-weight: bold; }
  .close:hover,
  .close:focus { color: black; text-decoration: none; cursor: pointer; }
/* Responsividade */
@media screen and (max-width: 1500px) {
  #caixa-de-login {width: 50%;}
}

@media screen and (max-width: 1300px) {
  #caixa-de-login {width: 70%;}
}

@media screen and (max-width: 910px) {
  .imagem { width: 35%; }
}

@media screen and (max-width: 780px) {
  .imagem { display: none; }
  .form { width: 100%; }
  .form-control { width: 105%; }
  #caixa-de-login { padding: 100px 80px 33px 80px; }
}

@media screen and (max-width: 576px) {
  #caixa-de-login { padding: 100px 40px 33px 15px; }
}